<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Slam</title>
    <link rel="icon" type="image/x-icon" href="/res/cow.png">
</head>

<html>
<body>
    <div class="home" onclick="goToHome()">
        <img src="/res/home.png" alt="">
    </div>
  
    <div id="grid-data" style="display: none"><%= grid %></div>

    <img class="hidden-marguerite" src="/res/marguerite.png" id="marguerite" />

    <div class="grille" id="grille"></div>
    <div class="question-section" id="questions">
        <div style="display: flex; text-align: center">
            <div id="question" style="margin: auto; padding: .3vw">Cliquer ici pour lancer la partie</div>
        </div>
        <button onclick="nextQuestion()">Question suivante</button>
    </div>
    <button onclick="showAnswer()" class="confirm-answer" id="confirmAnswer">Afficher réponse</button>

    <div class="question-section" id="definitions" style="visibility: hidden">
        <div style="display: flex; text-align: center">
            <div id="definition" style="margin: auto; padding: .3vw"></div>
        </div>
        <button onclick="confirmWord()">Confirmer réponse</button>
    </div>
    <img id="play-button" src="/res/play.png" class="play" style="visibility: hidden"/>
    <div id="image-displayer" class="image-displayer" style="visibility: hidden">
        <img id="image-display"/>
    </div>
    <audio id="music-player"></audio>
    <button onclick="wrongAnswer()" class="confirm-answer" id="wrongAnswer" style="visibility: hidden">Mauvaise réponse</button>

    <div class="candidates">
        <div class="candidate" id="candidate1" onclick="selectCandidate(0)">
            <div id="name1"></div>
            <div id="score1"></div>
        </div>
        <div class="candidate" id="candidate2" onclick="selectCandidate(1)">
            <div id="name2"></div>
            <div id="score2"></div>
        </div>
        <div class="candidate" id="candidate3" onclick="selectCandidate(2)">
            <div id="name3"></div>
            <div id="score3"></div>
        </div>
        <div class="slam" onclick="toggleSlam()">Slam</div>

        <audio src="/res/buzz.mp3" id="buzz"></audio>
    </div>

    <div id="room" class="room"><%= room %></div>

    <div class="buzzers" id="buzzers">
        <div class="buzzer-state unlocked">Ouvert</div>
        <div class="options">
            <button onclick="resetBuzzersAction()">Réinitialiser</button>
            <button onclick="toggleLockAction()">Bloquer</button>
        </div>
    </div>
      
    <div id="finale-grids" class="double-grid-centerer" style="display: none; top: 35%; transform: translate(-50%, -50%);">
        <div class="grille finale" id="grille1"></div>
        <div class="grille finale" id="grille2"></div>
    </div>
      
    <div id="themes" class="double-grid-centerer" style="display: none; position: absolute; top: 70%; transform: translate(-50%, -50%);">
        <div class="text-area" id="theme1" onclick="selectTheme(1)"></div>
        <div class="text-area" id="theme2" onclick="selectTheme(2)"></div>
    </div>
      
    <div id="letters" class="double-grid-centerer" style="display: none; position: absolute; top: 85%; transform: translate(-50%, -50%); grid-column-gap: 2vw;"></div>
      
    <div id="time" class="text-area" style="position: absolute; display: none; top: 35%; left: 50%; transform: translate(-50%, -50%) scale(1.3);">100</div>

    <audio id="soundboard-player" autoplay></audio>  
    
    <div id="soundboard">
        <div id="open-soundboard" onclick="openSoundboard()"></div>
        <div id="soundboard-content" style="display: none">
            <div onclick="playSound('/res/generique.mp3')">
                <img src="/res/slam-logo.png"/>
            </div>
            <div onclick="playSound('/res/capri.mp3')">
                <img src="/res/herve-villard.png"/>
            </div>
            <div onclick="playSound('/res/berceuse.mp3')" style="filter: invert()">
                <img src="/res/sleep.png"/>
            </div>
            <div onclick="playSound('/res/clavier.mp3')" style="filter: invert()">
                <img src="/res/clavier.png"/>
            </div>
            <div onclick="playSound('/res/casse-tete.mp3')" style="filter: invert()">
                <img src="/res/casse-tete.png"/>
            </div>
            <div onclick="closeSoundboard()" style="filter: invert()">
                <img src="/res/hide.png"/>
            </div>
        </div>
    </div>

    <div id="defs" style="display: none">
        <div id="open-defs" onclick="openDefinitions()"></div>
        <div id="defs-content" onclick="closeDefinitions()" style="display: none">
        
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script src="/js/host-script.js" charset="utf-8"></script>
</body>
</html>

