html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: Arial;
    background: radial-gradient(circle, rgba(75,116,255,1) 0%, rgba(0,58,255,1) 100%);
    outline: none;
}

.mode-selector {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  overflow: hidden;
}

.mode-selector > div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5vh;
  display: grid;
  grid-template-columns: repeat(2, 25vw);
  width: fit-content;
}

.mode-selector > div > div {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 2.5vh;
  line-height: 5vh;
  background-color: rgba(76,5,255,.3);
}

.mode-selector > div > div:nth-child(1) {
  border-top-left-radius: 2vh;
  border-bottom-left-radius: 2vh;
}

.mode-selector > div > div:nth-child(2) {
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.mode-selector > div > .selected {
  background-color: rgb(76 5 255);
  font-weight: bold;
}

.container {
    position: absolute;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.layout {
    position: relative;
    left: 0;
    right: 0;
    display: grid;
    grid-auto-flow: row;
    row-gap: 3vh;
    padding-top: 10vh;
    padding-bottom: 25vh;
}

.grille {
    display: grid;
    grid-template-columns: repeat(11, 3vw);
    grid-template-rows: repeat(10, 3vw);
    grid-gap: .1vw;
    position: absolute;
    left: 7vw;
    background: rgb(76 5 255);
    color: rgb(76 5 255);
    border-radius: 2vw;
    color: white;
    width: fit-content;
    height: fit-content;
}

.grille.finale {
    grid-template-columns: repeat(12, 3vw);
    grid-template-rows: repeat(11, 3vw);
}

    .grille > * {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .grille > * > * {
        position: relative;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        font-size: 1.5vw;
        text-align: center;
        font-weight: bold;
        line-height: 3vw;
        background-color: transparent;
        border: 1px solid rgb(0, 28, 120);
        border-radius: 5%;
        outline: none;
        color: white;
        padding: 0;
    }

        .grille > * > *:focus {
            border: 1px solid white;
        }

        .grille > * > .letter {
            background: white;
            color: black;
        }

        .grille > * > .hidden {
            visibility: hidden;
        }

[data-number]::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: attr(data-number);
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 3vw;
    text-align: center;
    pointer-events: none;
}

#definitions-wrapper {
    position: absolute;
    right: 7vw;
    width: 45vw;
    max-height: calc(30.9vw - 2vh);
    overflow-y: auto;
    background: #0003;
    padding: 1vh;
    border-radius: 2vh;
    visibility: hidden;
}

#definitions-wrapper:has(> * > *) {
    visibility: visible;
}

#definitions {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.3vh;
}

    #definitions > * {
        display: grid;
        grid-template-columns: 10vw 30vw;
        column-gap: 2vw;
    }

    #definitions > * > div {
        color: white;
        font-size: 1.5vw;
        text-align: right;
        margin-top: auto;
        margin-bottom: auto;
    }

    #definitions > * > input[type=text] {
        color: white;
        text-align: left;
        font-size: 1.5vw;
        border: none;
        border-bottom: 1px solid white;
        margin: auto;
        width: 100%;
        background-color: transparent;
        outline: none;
    }

#questions {
    position: relative;
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    row-gap: 2vh;
    padding-top: 13vh;
}

    #questions > div {
        background: #0003;
        border-radius: 1.5vh;
        padding: 1vh;
        display: grid;
        grid-template-columns: 2vw 50vw auto 10vw repeat(3, 2.5vw);
        column-gap: 1vw;
    }
        #questions > div > div {
            display: flex;
        }

            #questions > div > div > img {
                width: 2.5vw;
                height: auto;
                margin: auto;
                transition: transform .2s;
            }

                #questions > div > div > img:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }

        #questions > div > input[type=text] {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid white;
            color: white;
            font-size: 1.2vw;
            height: fit-content;
            margin-top: auto;
            margin-bottom: auto;
            outline: none;
        }

            #questions > div > input[type=text]::placeholder {
                color: #fff5;
            }

        #questions > div > input[type=text][maxLength="1"] {
            text-align: center;
            font-size: 1.4vw;
        }

        #questions > div > select {
            font-size: 1vw;
            height: fit-content;
            margin-top: auto;
            margin-bottom: auto;
            outline: none;
            padding: .2vh;
            border-radius: .5vh;
        }

            #questions > div > select * {
                background-color: transparent;
            }

button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.5vw;
    height: 6vh;
    width: 10vw;
    border-radius: 3vh;
    margin: auto;
    transition: transform .2s;
    outline: none;
}

    button:hover {
        transform: scale(1.08);
        cursor: pointer;
    }

.home {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 7vh;
  height: 7vh;
  padding: .5vh;
  transition: all .2s;
  filter: invert();
}

  .home > img {
    width: 100%;
    height: auto;
    margin: auto;
  }

.home:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.double-grid-centerer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10vw;
  width: fit-content;
}

.double-grid-centerer > .grille {
  position: relative;
  left: 0;
}

.theme {
    border: none;
    background: rgb(76 5 255);
    padding: 1vh;
    border-radius: 2vh;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    width: 36vw;
}

    .theme::placeholder {
        color: #808080;
        text-align: center;
    }

.possible-letter {
    border: none;
    background: rgb(76 5 255);
    padding: 1vh;
    border-radius: 2vh;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    width: 3vw;
}

#import {
    position: absolute;
    top: 3vh;
    right: 3vw;
}