html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: Arial;
    background: radial-gradient(circle, rgba(75,116,255,1) 0%, rgba(0,58,255,1) 100%);
}

.grille {
    display: grid;
    grid-template-columns: repeat(11, 3vw);
    grid-template-rows: repeat(10, 3vw);
    grid-gap: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(76 5 255);
    color: rgb(76 5 255);
    border-radius: 2vw;
}

    .grille > div {
        font-size: 1.5vw;
        text-align: center;
        font-weight: bold;
        line-height: 3vw;
        margin: .1vw;
    }

    .grille > .used-cell {
        background: #ffd335;
        color: #ffd335;
    }

    .grille > .tried-cell {
        background: #bfbfbf;
        color: #bfbfbf;
    }

    .grille > .focused-cell {
        background: white;
        color: white;
    }

    .grille > .found-cell {
        font-size: 2vw;
        background: white;
        color: darkblue;
    }

        .grille > .found-cell.focused-cell {
            background: white;
            color: darkblue;
        }

    .grille > .number-cell {
        color: white;
        transition: transform .2s;
    }

    .grille > .number-cell:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

.question-section {
    display: grid;
    width: 50vw;
    min-height: 5vw;
    grid-template-columns: 37vw 10vw;
    grid-gap: 3vw;
    background: rgb(76, 5, 255);
    border-radius: 1vw;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.7vw;
}

button {
    border-radius: 1vw;
    background-color: lightgray;
    border: 3px solid gray;
    font-size: 1vw;
    font-family: inherit;
    transition: transform .2s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.confirm-answer {
    position: absolute;
    bottom: 5%;
    height: 2.5vw;
    width: 10vw;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm-answer:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.candidates {
    display: grid;
    grid-template-rows: repeat(3, 8vh);
    grid-gap: 2vh;
    position: absolute;
    top: 30%;
    left: 2vw;
    transform: translateY(-50%);
    font-family: inherit;
    font-size: 2vw;
    font-weight: bold;
    color: black;
    text-align: center;
}

.candidate {
    display: grid;
    grid-template-columns: 15vw 4vw;
    grid-gap: 1vw;
    width: 20vw;
    background: #bfbfbf;
    border-radius: 1vw;
    line-height: 8vh;
    transition: transform .2s;
}

.candidates > div:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.candidate.selected {
    background-color: goldenrod;
}

.slam {
    background: #ffaaaa;
    width: 20vw;
    border-radius: 1vw;
    line-height: 8vh;
    transition: transform .2s;
    color: red;
}

img.play {
    height: 5vw;
    position: absolute;
    bottom: 15%;
    left: 75%;
    transform: scale(.7);
    transition: transform .2s;
}

img.play:hover {
    transform: scale(.8);
    cursor: pointer;
}

.image-displayer {
    border: solid 10px black;
    border-radius: 10px;
    position: absolute;
    height: 30vw;
    width: fit-content;
    background: gray;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

    .image-displayer > img {
        max-height: 30vw;
    }

.room {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(76, 5, 255);
    border-bottom-left-radius: 1vh;
    padding: 1.5vh;
    color: white;
    font-size: 2.5vh;
}

.buzzers {
    position: absolute;
    top: 15vh;
    right: 5vw;
    display: grid;
    grid-template-rows: 8vh 10vh repeat(5, 5vh);
    row-gap: 2vh;
}

    .buzzers > .buzzer-state {
        border-radius: 1vw;
        background-color: lightgray;
        font-size: 1.5vw;
        font-weight: bold;
        font-family: inherit;
        text-align: center;
        line-height: 8vh;
    }

        .buzzers > .buzzer-state.locked {
            background-color: #ffaaaa;
        }

        .buzzers > .buzzer-state.unlocked {
            background-color: #aaffaa;
        }

    .buzzers > .options {
        display: grid;
        grid-template-columns: 8vw 8vw;
        column-gap: 2vw;
        height: 8vh;
    }

.buzz-name {
    border-radius: 1vw;
    background-color: lightgray;
    font-size: 1.2vw;
    font-family: inherit;
    text-align: center;
    line-height: 5vh;
}

.end-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vh 5vw 3vh 5vw;
    background: linear-gradient(90deg, #0000 0%, #000 15%, #000 85%, #0000 100%);
    display: grid;
    grid-auto-flow: row;
    row-gap: 3vh;
    color: white;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

    .end-display > #winner {
        font-size: 5vh;
    }

    .end-display > #loser {
        font-size: 4vh;
    }








.slam-bg {
    background: rgba(255, 0, 0, .2);
}

.slam-bg > .grille {
    background-color: red;
    color: red;
}

.slam-bg > .question-section {
    background-color: red;
}

.cyril {
    position: absolute;
    height: 50vh;
    top: 25vh;
    left: 40vw;
    -webkit-animation: myOrbit 3s linear infinite;
    -moz-animation: myOrbit 3s linear infinite;
    -o-animation: myOrbit 3s linear infinite;
    animation: myOrbit 3s linear infinite;
}

.marguerite {
    position: absolute;
    height: 15vh;
    right: 100vw;
    -webkit-animation: shootingStar 1s linear forwards;
    -moz-animation: shootingStar 1s linear forwards;
    -o-animation: shootingStar 1s linear forwards;
    animation: shootingStar 1s linear forwards;
}

.fireworks {
    position: absolute;
}

.hidden-marguerite {
    width: 30vw;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.peekaboo {
    -webkit-animation: peek 2s ease forwards;
    -moz-animation: peek 2s ease forwards;
    -o-animation: peek 2s ease forwards;
    animation: peek 2s ease forwards;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 7vh;
  height: 7vh;
  padding: .5vh;
  transition: all .2s;
  filter: invert();
}

  .home > img {
    width: 100%;
    height: auto;
    margin: auto;
  }

.home:hover {
  cursor: pointer;
  transform: scale(1.1);
}



.grille.finale {
    grid-template-columns: repeat(12, 2.5vw);
    grid-template-rows: repeat(11, 2.5vw);
    pointer-events: none;
}

    .grille.finale > div {
        font-size: 1.2vw;
      line-height: 2.5vw;
    }

    .grille.finale > .found-cell {
        font-size: 1.6vw;
    }

.double-grid-centerer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10vw;
  width: fit-content;
}

.double-grid-centerer > .grille {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}

.text-area {
    background: rgb(76, 5, 255);
    border-radius: 2vh;
    padding: 1.5vh;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    cursor: pointer;
    pointer-events: none;
}

#soundboard {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    background-color: rgb(76 5 255);
    padding: .5vh;
    border-radius: 1.5vh;
    transition: .3s;
}

#open-soundboard {
    height: 6vh;
    width: 6vh;
    background-image: url("../res/soundboard.png");
    background-size: 100% 100%;
    cursor: pointer;
    filter: invert();
}

#soundboard-content {
    display: grid;
    grid-template-columns: repeat(3, 6vh);
    grid-gap: 1vh;
}

#soundboard-content > div {
    height: 6vh;
    width: 6vh;
    cursor: pointer;
}

#soundboard-content > div > img {
    width: 100%;
    height: 100%;
}

#defs {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    background-color: rgb(76 5 255);
    padding: .5vh;
    border-radius: 1.5vh;
    transition: .3s;
    z-index: 1;
}

#open-defs {
    height: 6vh;
    width: 6vh;
    background-image: url("../res/list.png");
    background-size: 100% 100%;
    cursor: pointer;
    filter: invert();
}

#defs-content {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0;
    width: fit-content;
    cursor: pointer;
}

#defs-content > div {
    color: white;
    font-size: 1.7vh;
}

#defs-content > h1 {
    position: relative;
    height: 0;
    width: 70%;
    left: 15%;
    border: 1px solid white;
}












@-webkit-keyframes myOrbit {
    0% {
        -webkit-transform: rotate(0deg) translateX(25vh) rotate(0deg) scale(1);
    }

    25% {
        -webkit-transform: rotate(90deg) translateX(25vh) rotate(-90deg) scale(1.5);
    }

    50% {
        -webkit-transform: rotate(180deg) translateX(25vh) rotate(-180deg) scale(1);
    }

    75% {
        -webkit-transform: rotate(270deg) translateX(25vh) rotate(-270deg) scale(1.5);
    }

    100% {
        -webkit-transform: rotate(360deg) translateX(25vh) rotate(-360deg) scale(1);
    }
}

@-moz-keyframes myOrbit {
    0% {
        -moz-transform: rotate(0deg) translateX(25vh) rotate(0deg) scale(1);
    }

    25% {
        -moz-transform: rotate(90deg) translateX(25vh) rotate(-90deg) scale(1.5);
    }

    50% {
        -moz-transform: rotate(180deg) translateX(25vh) rotate(-180deg) scale(1);
    }

    75% {
        -moz-transform: rotate(270deg) translateX(25vh) rotate(-270deg) scale(1.5);
    }

    100% {
        -moz-transform: rotate(360deg) translateX(25vh) rotate(-360deg) scale(1);
    }
}

@-o-keyframes myOrbit {
    0% {
        -o-transform: rotate(0deg) translateX(25vh) rotate(0deg) scale(1);
    }

    25% {
        -o-transform: rotate(90deg) translateX(25vh) rotate(-90deg) scale(1.5);
    }

    50% {
        -o-transform: rotate(180deg) translateX(25vh) rotate(-180deg) scale(1);
    }

    75% {
        -o-transform: rotate(270deg) translateX(25vh) rotate(-270deg) scale(1.5);
    }

    100% {
        -o-transform: rotate(360deg) translateX(25vh) rotate(-360deg) scale(1);
    }
}

@keyframes myOrbit {
    0% {
        transform: rotate(0deg) translateX(25vh) rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(90deg) translateX(25vh) rotate(-90deg) scale(1.5);
    }

    50% {
        transform: rotate(180deg) translateX(25vh) rotate(-180deg) scale(1);
    }

    75% {
        transform: rotate(270deg) translateX(25vh) rotate(-270deg) scale(1.5);
    }

    100% {
        transform: rotate(360deg) translateX(25vh) rotate(-360deg) scale(1);
    }
}

@keyframes -webkit-shootingStar {
    to {
        -webkit-transform: translate(120vw, -30vh);
    }
}

@keyframes -moz-shootingStar {
    to {
        -moz-transform: translate(120vw, -30vh);
    }
}

@keyframes -o-shootingStar {
    to {
        -o-transform: translate(120vw, -30vh);
    }
}

@keyframes shootingStar {
    to {
        transform: translate(120vw, -30vh);
    }
}

@keyframes -webkit-peek {
    50% {
        -webkit-transform: translate(-17%, -50%);
    }
}

@keyframes -moz-peek {
    50% {
        -moz-transform: translate(-17%, -50%);
    }
}

@keyframes -o-peek {
    50% {
        -o-transform: translate(-17%, -50%);
    }
}

@keyframes peek {
    50% {
        transform: translate(-17%, -50%);
    }
}